---
title: false
styles: true
---
// Custom header styles
.header {
    background-color: #384743; // Custom background color for the header
    color: #fff; // Custom text color for the header

    .nav-link {
        color: #fff; // Custom link color in the header
        &:hover {
            color: lighten(#fff, 10%); // Custom link hover color
        }
    }
}

.nav--header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

// typing effect
.typing-effect {
    white-space: pre;
    overflow: hidden;
    border-right: 0.15em solid #000;
    animation: blink-caret 0.75s step-end infinite;
    font-size: 1.5em;
  }
  
@keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

// Indent bulleted lists
.article.article--page ul {
  list-style-position: inside;
  padding-left: 20px;
}

// Full width pages
.article.article--page {
  width: 90%;       
  padding: 0px;
}

// Full width pages for blog posts
.article.article--post {
  width: 85%;       
  padding: 0px;
}
// Change text size for blog post content
.article.article--post p {
  font-size: 1em;
}
@import "alembic";